<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand subtitle" href="/">News Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
        </ul>
        <a href="/scrape"><button class="btn btn-outline-success my-2 my-sm-0 my-btn" type="submit">Scrape New
                Articles</button></a>
        <a href="/clear-all"><button class="btn btn-outline-danger my-2 my-sm-0 my-btn" type="submit">Clear
                Articles</button></a>
    </div>
</nav>

{{!-- <div class="jumbotron my-jt-styles container-fluid">
    <div class="my-overlay"></div>
</div> --}}

<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1 class="title">Tech News</h1>
        <p class="subtitle">The Verge - scraped!</p>
        <p class="subtitle">Your Saved Articles</p>
    </div>
</div>

<div class="container-fluid article-container">
    {{#each articles}} {{#if this.saved}}
    <div class="card">
        <div class="card-header">
            <h5>
                <a class="article-link" target="_blank" rel="noopener noreferrer" href={{this.link}}>{{this.title}}</a>
                <a class="btn btn-danger float-right delete-btn btn-sm" data-id="{{this._id}}">Delete Article</a>

                <a id="modal-trigger" class="btn btn-success float-right comment-btn btn-sm my-btn" data-toggle="modal" data-id="{{this._id}}" href="#myModal">Comment</a>
            
            </h5>
        </div>
    </div>
    {{/if}} {{/each}}
</div>
